<div
        id="Habilidades"
        class="mx-10 mt-10 items-center rounded-xl border border-violet-500 bg-gradient-to-t from-violet-950 to-stone-900 p-5 text-white shadow-xl shadow-violet-400 duration-300 ease-in hover:scale-105 hover:shadow-2xl hover:shadow-violet-400 md:mt-0 md:mx-20 md:max-h-max"
      >
        <h1 class="text-xl text-cyan-300">Habilidades:</h1>
        <div class="mt-5 grid grid-cols-2 gap-3">
          <div
            class="rounded-3xl border border-black bg-gradient-to-t from-blue-700 to-violet-700 py-2 text-center"
          >
            <h1>HMTL</h1>
          </div>


          <div
            class="rounded-3xl border border-black bg-gradient-to-t from-blue-700 to-violet-700 py-2 text-center"
          >
            <h1>CSS</h1>
          </div>


          <div
            class="rounded-3xl border border-black bg-gradient-to-t from-blue-700 to-violet-700 py-2 text-center"
          >
            <h1>Tailwindcss</h1>
          </div>


          <div
            class="rounded-3xl border border-black bg-gradient-to-t from-blue-700 to-violet-700 py-2 text-center"
          >
            <h1>Java</h1>
          </div>


          <div
            class="rounded-3xl border border-black bg-gradient-to-t from-blue-700 to-violet-700 py-2 text-center"
          >
            <h1>JavaScript</h1>
          </div>


          <div
            class="rounded-3xl border border-black bg-gradient-to-t from-blue-700 to-violet-700 py-2 text-center"
          >
            <h1>SQL</h1>
          </div>
        </div>
      </div>