<header class="py-5">
    <div class="grid grid-cols-2 gap-5 text-center text-blue-600">
      <div class="duration-100 ease-in hover:text-violet-700">
        <a href="#SobreMi">Sobre mi</a>
      </div>
      <div class="duration-100 ease-in hover:text-violet-700">
        <a href="#Proyectos">Proyectos</a>
      </div>
      <div class="duration-100 ease-in hover:text-violet-700">
        <a href="#Habilidades">Habilidades</a>
      </div>
      <div class="duration-100 ease-in hover:text-violet-700">
        <a href="#Contacto">Contacto</a>
      </div>
    </div>
</header>