<div
        id="Contacto"
        class="mx-10 items-center rounded-xl border border-violet-500 bg-gradient-to-t from-violet-950 to-stone-900 text-white shadow-xl shadow-violet-400 duration-300 ease-in hover:scale-105 hover:shadow-2xl hover:shadow-violet-400 md:mx-20"
      >
        <div class="justify-center p-5">
          <img
            class="mx-auto h-44 w-44 transform rounded-full border-8 border-violet-600 shadow-xl shadow-violet-400 duration-300 ease-in hover:scale-110 hover:shadow-2xl hover:shadow-violet-400"
            src="Foto_porfolio.jpg"
            alt=""
          />
        </div>
        <div class="p-5">
          <p class="">Hola mi nombre es</p>
          <h1 class="text-justify text-2xl text-cyan-300">Hugo Pérez</h1>
          <h2 class="">
            Soy estudiante de DAM el cual actualmente se encuentra cursando su
            2º año.
          </h2>
        </div>
        <center>
        <button class="bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg shadow-lg transform transition-all duration-300 hover:bg-blue-600 hover:scale-105 hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
            Descargar CV
          </button>
        </center>
          
        <div class="flex gap-5 p-5">
          <a href="https://github.com/hugooperezz"
            ><img class="h-11 w-11" src="github-logo.png" alt=""
          /></a>
          <a href="https://www.instagram.com/hugooperezz.__/"
            ><img class="h-11 w-11" src="Instagram.png" alt=""
          /></a>
          <a href="https://es.linkedin.com/"
            ><img class="h-12 w-12" src="linkeding.png" alt=""
          /></a>
          <a href=""
            ><img class="h-12 w-12" src="Email.png" alt=""
          /></a>
        </div>
      </div>